<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Drive Setup</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="../static/js/jquery-1.11.2.js"></script>
</head>
<body>
    <div id="container">
        <div class="title">
            <h1>Google Drive Settings</h1>
        </div>
        <div style="padding: 10%">
            <form action="update_g_user" method="post" enctype="multipart/form-data">
                If you need to update user credential, please fill all fields and press Apply.
                <br>
                <br>
                Otherwise, please <a href="gdrive">skip</a>
                <br><br>
                <label for="txt_email">E-mail</label>
                <input type="text" name="email" id="txt_email"/>
                <label for="txt_pwd">Password</label>
                <Input type="password" name="password" id="txt_pwd"/>
                <label for="json_file">Credential:</label>
                <input id="json_file" type="file" name="json_file" accept="*.json"><br />
                <br>
                {{ status }}
                <br>
                <input type="submit" value="Apply">
          </form>
        </div>
    </div>

</body>
</html>